<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>App</title>
	<link rel="stylesheet" href="css/style.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div id="container-app">
		<div class="payment-main">
			<div class="step-2">
				<h1>Step 2</h1>
			</div>
			<form action="#" class="form">
				<input type="text" value="" placeholder="Name:" name="text">
				<input type="text" value="" placeholder="Street Name:" name="text">
				<input type="text" value="" placeholder="Zip Code:" name="text">
				<input type="text" value="" placeholder="City:" name="text">
				<input type="text" value="" placeholder="Cell Phone" name="text">
			</form><!--end form-->
			<div class="title-payment">Choose payment method:</div>
			<div class="buttons">
				<div class="visa">
					<a href="#">Visa Card</a>
				</div>
				<div class="ideal">
					<a href="#">iDeal</a>
				</div>
				<div class="paypall">
					<a href="#">PayPall</a>
				</div>
			</div><!-- end buttons-->
			<div class="cta-button">
				<a href="#">Check out!</a>
			</div>
		</div>
		<footer>
			<div class="nav-footer">
				<ul>
					<li><a href="index.html"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
					<li><a href="cart.html" class="nav-active"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
					<li><a class="search"><i class="fa fa-search" aria-hidden="true"></i></a></li>
				</ul>
			</div><!--End nav-footer-->
				<div class="input"><!--Deze div komt omhoog als je search klikt-->
					<div>
    						<input type="text" class="search-input" value="" placeholder="Search..." name="text" id="icon-search">
    						<button class="search-button"><i class="fa fa-search"></i></button>
    					</div>
				</div>
			<div class="clear"></div>
		</footer>
	</div><!--End container-app-->

	<script src="js/jquery.js"></script>
	<script src="js/index.js"></script>

</body>
</html>