

<html><head>
<script src="libs/webqr/cb=gapi.loaded_0" async=""></script><script type="text/javascript" src="libs/webqr//llqrcode.js"></script>
<!-- <script type="text/javascript" src="./Web QR_files/plusone.js" gapi_processed="true"></script> -->
<script type="text/javascript" src="libs/webqr//webqr.js"></script>
</head>

<body>
  <style>
  #qr-canvas {
    display:none;
  }
  </style>
  <div id="mainbody" style="display: inline;">
    <td><img class="selector" id="webcamimg" src="libs/webqr//vid.png" onclick="setwebcam()" align="left" style="opacity: 1; display:none;"></td>
    <td><img class="selector" id="qrimg" src="libs/webqr//cam.png" onclick="setimg()" align="right" style="opacity: 0.2; display:none;"></td></tr>
    <div id="outdiv"><video id="v" autoplay="" src="blob:https%3A//webqr.com/52d64499-a337-43e0-80f3-efd8428ed941"></video></div></td></tr>
    <div id="result">- scanning -</div>
  </div>

<canvas id="qr-canvas" width="800" height="600" style="width: 800px; height: 600px;"></canvas>
<script type="text/javascript">load();</script>
<iframe name="oauth2relay919691910" id="oauth2relay919691910" src="libs/webqr//postmessageRelay.html" tabindex="-1" style="width: 1px; height: 1px; position: absolute; top: -100px;"></iframe>
</body></html>
