.cta-button h3{
	display: block;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background:crimson;
	color:#fafafa;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 600;
}

.cta-button a:hover,
.cta-button a:active,
.cta-button a:focus{background:#bc052a;}
.sort-by{
	display: block;
	height: 40px;
	width: 100%;
	background:#242424;
	color:#fafafa;
	line-height: 40px;
	padding-left: 8px;
			box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.sort-by .text{
	width: 19%;
	height: 40px;
	float: left;
}
.sort-button a{
	display: block;
	width: 40.5%;
	height: 40px;
	float: left;
	padding-right: -40px;
	color:#fafafa;
	background:#494949;
	text-align: center;
	box-sizing: border-box;
}
.sort-button a:hover,.sort-button a:active,.sort-button a:focus{
	background:#3b3b3b;
}
