.product-main{
	width: 90%;
	margin: 0 auto;
	height: auto;
}
.image-main{
	height: auto;
}
.product-main .title-product{
	font-size: .7em;
	letter-spacing: 2px;
}
.product-main .review-stars ul{
	margin-top: 0;
}
.product-main .info-product{
	width: 100%;
	padding-left: 0;
}
.info-product .cta-button{
	margin-top: 10px;
}

.info-product {
	margin-top: 43px;
}

.info-button {
	margin-top: -7%;
}

.title-product, .price-product {
	text-align: center;
}

.cart-button {
	border: 1px solid white;
	margin:10px;
	padding: 8px;
	background-color: crimson;
	color:white;
	margin-left:auto;
	margin-right:auto;
	display:block;

}

.product-description {
	color:black;
	margin:5px;
}
