@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body{
	margin:0;padding: 0;
	background: #fafafa;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 60px;
}
/***********MAIN CSS STUFFIES*************/
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
h1{font-weight: 700}
h4{font-weight: 400}
.bold{font-weight: 700}
a{text-decoration: none;}
.clear{clear: both;}
ul{margin:0;padding:0; list-style: none;}
img{width: 100%;}
::-webkit-input-placeholder { color: #494949; opacity: 1 !important; }
:-moz-placeholder { color: #494949;}
::-moz-placeholder {color: #494949;}
:-ms-input-placeholder {color: #494949;}
/***************Custom CSS*****************/
.lightgray{background:#e1e1e1;}
.darkgray{background:#d7d7d7;}
